.containerEdit{
    padding: 50px;
    font-size: 18px;
}
body{
    background: #f5f5f5;
    margin-top:20px;
}

.ui-w-80 {
    width: 100px !important;
    height: 100px !important; /* thêm dòng này để khung vuông */
    object-fit: cover; /* giúp ảnh lấp đầy khung mà không bị méo */
    border-radius: 50%; /* nếu muốn hình tròn, bỏ nếu không cần */
}

.btn-default {
    border-color: rgba(24,28,33,0.1);
    background: rgba(0,0,0,0);
    color: #4E5155;
}

.upload-photo-label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background: transparent;
    color: #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.btn-facebook {
    border-color: rgba(0,0,0,0);
    background: #3B5998;
    color: #fff;
}

.btn-instagram {
    border-color: rgba(0,0,0,0);
    background: #000;
    color: #fff;
}

.card2 {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24,28,33,0.012);
}

.row-bordered {
    overflow: hidden;
}

.account2-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}
.account2-settings-links .list-group-item.active {
    font-weight: bold !important;
}
html:not(.dark-style) .account2-settings-links .list-group-item.active {
    background: transparent !important;
    background-color: rgba(202, 21, 21, 0.53) !important;
}
.account2-settings-multiselect ~ .select2-containerEdit {
    width: 100% !important;
}
.light-style .account2-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
.light-style .account2-settings-links .list-group-item.active {
    color: #4e5155 !important;
}
.material-style .account2-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
.material-style .account2-settings-links .list-group-item.active {
    color: #4e5155 !important;
}
.dark-style .account2-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}
.dark-style .account2-settings-links .list-group-item.active {
    color: #fff !important;
}
.light-style .account2-settings-links .list-group-item.active {
    color: #4E5155 !important;
}
.light-style .account2-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24,28,33,0.03) !important;
}
.card_user_profile_edit label{
    position: relative;
    top: 15px;
    font-size: 18px;
    font-weight: bold;
}
.card_user_profile_edit input{
    font-size: 18px;
}
