.showProductColorSize{
    display: flex;
    flex-direction: column;
    /*border: 1px solid rgba(0, 0, 0, 0.63);*/
    padding: 10px;
    border-radius: 10px;

}
.showProductColorSize table img{
    height: 70px;
    width: 60px;
}
.showProductColorSize .add_product_table, th, td {
    /*border:1px solid black;*/
    padding: 10px;
}
.showProductColorSize .add_product_table .add_product_tr{
    border:1px solid black;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}
.add_product_table{
    width: 100%;
}
.pagination__option a.active {
    background: #e64949;
    border-color: #e64949;
    color: #FFFFFF;
}
.inline-container {
    text-align: center;
    white-space: nowrap; /* giữ tất cả trên một hàng */
}

.select-wrapper, .pagination__option {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; /* tùy chỉnh khoảng cách nếu cần */
}

/*.pagination__option a.active {*/
/*    !*display: flex;*!*/
/*    justify-content: center;*/
/*    align-content: center;*/
/*    color: white;*/
/*    background-color: #e91e63;*/
/*    padding: 5px 10px;*/
/*    border-radius: 50%;*/
/*}*/
/*.pagination__option a.active {*/
/*    color: white;*/
/*    background-color: #e91e63;*/
/*    padding: 5px 10px;*/
/*    border-radius: 5px;*/
/*}*/
.add_product_tr.inactive-row {
    background-color: #f5f5f5; /* Màu xám nhạt */
    opacity: 0.6; /* Làm mờ hàng */
}

/* Làm chữ "Không hoạt động" màu đỏ */
.status-inactive {
    color: #ff3333; /* Màu đỏ */
    font-weight: bold; /* In đậm để nổi bật */
}

/* Làm chữ "Hoạt động" màu xanh (tùy chọn) */
.status-active {
    color: #28a745; /* Màu xanh lá */
    font-weight: bold;
}
.card label{
    font-size: 18px;
    font-weight: bold;
}